@charset "UTF-8";
@media all
{
/*------------------------Image -Replacement-----------*/
#header h1,
#hlist a,
#hlist li.active span,
.fnav li a,
#contact a,
#phone,
.fnav li.active span,
#hnav a,
.home h1,
#superbox .close a,
.jcarousel-next,
.jcarousel-prev,
.prev,
.next,
#header h1 a.lang,
#soon{background:url(../../src/other/nav_en.png) no-repeat}
}