@charset "UTF-8";
/* "Yet Another Multicolumn Layout" v3.1 (c) by Dirk Jesse (http://www.yaml.de)
* $Revision: 343 $ $Date: 2009-01-19 23:41:32 +0100 (Mo, 19. Jan 2009) $ */
@media print {
#col3{height:1%}
}
@media all {
html{height:auto;margin-bottom:0;margin-right:1px}
* html body{position:static}
#main{position:relative}
.clearfix{display:block}
* html .clearfix{height:1%}
* html #col1,* html #col2,* html #col3{position:relative}
#page_margins,#page,.page_margins,.page,#header,#nav,#main,#footer{zoom:1}
#page_margins,#page,.page_margins,.page{height:1%}
* html #header,* html #nav,* html #main,* html #footer{width:100%;wid\th:auto}
* html ul{position:relative}
html #ie_clearing{position:static;display:block;clear:both;width:100%;font-size:0;margin:-2px 0 -1em 1px}
* html #ie_clearing{margin:-2px 0 -1em}
#col3_content{margin-bottom:-2px}
* html{margin-right:0}
#col3{position:relative}
*+html #col3 {z-index:-1}
* html #col1,* html #col2 {z-index:1}
* html #col3 {z-index:auto}
* html body a,* html body a:hover{background-color:transparent}
}
@media screen,projection {
#col1,#col2{display:inline}
* html #col1_content,* html #col2_content,* html #col3_content{word-wrap:break-word}
/*--my_stuff--*/
div#nav{position:relative}
#hlist ul li ul{left:24px}
/*-------Arbeiten-------*/
*:first-child+html #col3_content.slide{overflow:hidden}
/*--only IE6--(Star-Hack--*/
* html #header h1,
* html #hlist li a,
* html #hlist li.active span,
* html .fnav li a,
* html #contact a,
* html #phone,
* html .fnav li.active span,
* html #topnav .lang,
* html #hnav a,
* html .jcarousel-next,
* html .jcarousel-prev,
* html .prev,
* html .next,
* html .home h1,
* html #superbox .close a,
* html #soon{background:url(../../src/other/nav22_de150511_IE6.png) no-repeat;font-size:1%}
* html #header h1{background-position:0 -140px}
* html #header h1 a{height:28px}
* html #soon{background-position:0 -255px}
* html #contact a{background-position:0 -215px}
* html #phone{background-position:0 -235px;font-size:4%}
* html .home h1{background-position:0 -105px}
* html div#hlist ul li a#eins{font-size:2px;height:12px}
* html .jcarousel-prev,
* html .prev{background-position:-180px -170px}
* html .jcarousel-prev:hover,
* html .prev:hover{background-position:-204px -170px}
* html .jcarousel-prev:active,
* html .prev:active{background-position:-228px -170px}
* html .jcarousel-prev-disabled,
* html .jcarousel-prev-disabled:hover,
* html .prev.disabled{background-position: -252px -170px;cursor:auto}
* html .jcarousel-next{right:0}
* html .next{right:20px}
* html .jcarousel-next,
* html .next{background-position:-180px -194px}
* html .jcarousel-next:hover,
* html .next:hover{background-position:-204px -194px}
* html .jcarousel-next:active,
* html .next:active{background-position:-228px -194px}
* html .jcarousel-next-disabled,
* html .jcarousel-next-disabled:hover,
* html .next.disabled{background-position:-252px -194px;cursor:auto}
* html #superbox .close a{background-position:-276px -140px}
* html #superbox .close a:focus,
* html #superbox .close a:hover,
* html #superbox .close a:active{background-position:-276px -155px}
* html .jcarousel-clip{margin-left:20px;}
* html .jcarousel-prev{left:-15px}
* html .jcarousel-next{right:-15px}
* html pic{width:205px;overflow:hidden;clear:both;display:none}
* html .home h1{margin-left:195px}
* html table{position:absolute;top:20px;left:0}
/*--------Aktuell---------------*/
* html .newsbox#box1 .picbox{margin-left:250px}
* html .newsbox#box2 .picbox{margin-left:250px}
* html .newsbox#box3 .picbox{margin-left:250px}
* html .newsbox#box4 .picbox{margin-left:235px}
/*--------Superbox------IE7------------------*/
*:first-child+html #superbox-container{position:absolute;top:50%;display:block;height:auto}
*:first-child+html #superbox{position:relative;top:-50%;display:block}
/* IE6 - Thanks to Thickbox for IE expressions */
* html #superbox-container{position:absolute;top:50%;display:block;height:auto}
* html #superbox{position:relative;top:-50%;display:block}
* html #superbox-overlay{position:absolute;height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight + 'px' : document.body.offsetHeight + 'px')}
* html #superbox-wrapper{position:absolute;margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px')}
}
